html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg,#57c7e6 10%,#EEEBEB 25%,#e1e3a4 30%)!important;
}
p{
    color:white;
}
.h1,h2,h3{
    color:white!important;
}
h2{
    font-size: 5rem!important;
}
.h1{
    font-size: 9rem!important;
}
#change{
    color:white;
    font-weight:500;
    line-height:1.2;
    font-size:10rem;
}
.navbg{
    background-color:#1a3d6b!important;
}
.navbar{
    position: sticky;
}
#meet{
    font-size: 5rem;
    color: black;
}
#abtext{
    font-size: 2rem;
    color: black;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.navbar-fixed-top.scrolled {
    position: sticky;
    background-color: white !important;
    transition: background-color 200ms linear;
}
.sticky-top{
    background-color: transparent!important;
}
.jumbotron{
    position: relative;
    left: 10%;
    background-color: #f58f7f!important;
    width: 80%;
    border-radius: 40px!important;
}
.my-4{
    border-top: 2px solid;
    color: #b35647;
}
.lead{
    font-size: 2rem!important;
}